footer
	#footer_1
		.container
			.row
				.span4
					h3.headl Über uns
					p lorem ipsum
					
					h3.headl Admin
					a(href="#NotiModal", data-toggle="modal")
						h2
							i.icon-envelope-alt.icon-2x
							|  Support
				.span4
				.span4
					h3.headl Contact Us
					address
						| blabla
						br
						| bla
						br
						| blaaa
						br
						| Email: support@darktunes.de
					h3.headl Social Network
					| fb, twitt, dt, soundcloud
	#footer_2
		.container
			.row
				.span8
					| Copyright © 2013 Dev DIfdZ. Alle Rechte vorbehalten.
				.span4
					.pull-right
						a(href="#")
							| Agb 
						a(href="#")
							| Impressum 
						a(href="#")
							| FAQ 
						
						
#NotiModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-header
		button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
		h3 Request Admin
	form.form-horizontal.ajaxForm(method="POST", accept-charset="UTF-8", action="sendRequest")
		.modal-body
			.control-group
				label.control-label(for="") Anliegen: 
				.controls
					select(name="type")
						option Bug
						option Upload Problem
						option Payment Problem
						option Other Problem
			.control-group
				label.control-label(for="") Betreff
				.controls
					input(type="text", name="headline", placeholder="short description")
			.control-group
				textarea.full(name="msg", rows="6")
			
		.modal-footer
			button.btn.btn-primary(type="submit")	Submit
