footer
	#footer_1
		.container
			.row
				.span4
					h3.headl Über uns
					a(href="http://darktunes.com/impressum", target="_blank") Impressum
					br
					a(href="#agbModal", data-toggle="modal") Agb/Vertrag
					br
					a(href="#faqModal", data-toggle="modal") FAQ
					br
					a(href="#partnerModal", data-toggle="modal") Partner
					.to_bottom
						| Copyright © 2013 Dev DIfdZ. Alle Rechte vorbehalten
						
					
					
				.span4
				.span4
					h3.headl Kontakt
					a(href="#NotiModal", data-toggle="modal")
						img.hov(src="../images/corp_Ident/logos/mail.png", width="150px")
					h3.headl Social Network
					.cons
						a(href="https://www.facebook.com/pages/darkTunes/317961981578779", target="_blank")
							i.icon-facebook.icon-2x
						a(href="http://www.youtube.com/user/darkTunesTV", target="_blank")
							i.icon-youtube.icon-2x
						a(href="https://twitter.com/@darkTunesGroup", target="_blank")
							i.icon-twitter.icon-2x
