.hidden
	#optRock
		option(value="102050000") Alternative
		option(value="102030100") Art Rock
		option(value="102040500") Black Metal
		option(value="103030400") Blues Rock
		option(value="102020500") BombastRock / Power Rock
		option(value="102020000") Classic Rock & Pop
		option(value="108030000") Country Rock
		option(value="102040800") Crossover
		option(value="102040300") Death Metal
		option(value="102060000") Deutsch Rock & Pop
		option(value="102060600") Deutsch-Punk
		option(value="102040600") Doom Metal
		option(value="107040000") Folk/Folklore
		option(value="201010215") Gitarre
		option(value="201010515") Gitarre (Solo)
		option(value="102020600") Glamrock
		option(value="102041300") Gothic Metal
		option(value="102041100") Grind Core
		option(value="102050500") Grunge
		option(value="102040900") Hard Rock
		option(value="102040700") Hardcore
		option(value="102040200") Heavy Metal
		option(value="108020000") Honkytonk (Hillbilly / Honkytonk / Bluegrass)
		option(value="102050300") Independent
		option(value="102050600") Industrial
		option(value="101040200") Instrumental
		option(value="102050100") Internat. Punk
		option(value="106030500") Jazz Rock / Fusion
		option(value="202020000") Klassik-Rock-Crossover
		option(value="201010400") Konzert / Soloinstrument mit Orchester
		option(value="102060700") Krautrock
		option(value="109020154") Live Events
		option(value="102020200") Mainstream (Classic Rock/Pop)
		option(value="102050900") Melody Core
		option(value="102040000") Metal (Hard 'n' Heavy)
		option(value="102060200") Neue Deutsche Härte
		option(value="102041000") New Metal
		option(value="102060500") Ostrock
		option(value="102040100") Power Metal
		option(value="102030000") Progressive Rock
		option(value="102030200") Psychedelic Rock
		option(value="102000000") Rock (Rock / Rockpop)
		option(value="102010100") Rockabilly / Psychobilly
		option(value="102010000") Rock'n'Roll
		option(value="201010100") Sinfonische Musik / Orchestermusik
		option(value="102070000") Singer / Songwriter
		option(value="102020300") Soft Rock / PopRock
		option(value="102020700") Spanisch / Latin Rock
		option(value="102040400") Thrash Metal
		option(value="103070202") Underground
		option(value="102060400") Volkstümlicher Rock
		
	#optGothic
		option(value="102060600") alte Instrumente
		option(value="201010523") alte Instrumente (Solo)
		option(value="102050000") Alternative
		option(value="104080200") Ambient
		option(value="102030100") Art Rock
		option(value="102050800") Dark Wave
		option(value="104080000") Electro/Ambient
		option(value="104015000") Electronic
		option(value="104080500") Electronica
		option(value="201030300") Elektronische Musik / Computermusik
		option(value="107040000") Folk/Folklore
		option(value="102060600") Geistliche Musik
		option(value="201030500") Geräusch-/Klangmusik
		option(value="109060000") Geräuscheffekte
		option(value="102041200") Gothic
		option(value="102041300") Gothic Metal
		option(value="102050300") Independent
		option(value="102050600") Industrial
		option(value="101040200") Instrumental
		option(value="102050100") Internat. Punk
		option(value="201010000") Klassik - Instrumental
		option(value="201010219") Klavier
		option(value="201010400") Konzert / Soloinstrument mit Orchester
		option(value="109020154") Live Events
		option(value="107030400") Marschmusik
		option(value="107050000") Marschmusik (Militärmusik / Nationalhymnen)
		option(value="201030801") Neoklassik
		option(value="201030803") Neo-Romantik
		option(value="102060200") Neue Deutsche Härte
		option(value="102060100") Neue Deutsche Welle
		option(value="101030400") New Age (New Age / Entspannung / Meditation)
		option(value="102050700") New Wave
		option(value="107010200") NewAge / Meditation
		option(value="102070000") Singer / Songwriter
		option(value="201010100") Sinfonische Musik / Orchestermusik
		option(value="101030300") Synthi instrumental
		option(value="101010700") Synthi Pop
		option(value="104030000") Techno
		option(value="103070202") Underground
		option(value="201020107") Vokalmusik mit Kammerensemble
		option(value="201020106") Weltliche Musik des Mittelalters
		option(value="107010000") Weltmusik
		option(value="109010300") Wort & Musik

	#optOther
		option(value="201030100") 12-Ton-Kompositionen
		option(value="104050000") 2 Step
		option(value="104030200") Acid
		option(value="102060600") Acid Jazz / Dancefloor Jazz
		option(value="201010221") Akkordeon
		option(value="201010521") Akkordeon (Solo)
		option(value="109020370") Arts & Entertainment
		option(value="101010800") Austro Pop
		option(value="106030400") Avantgarde / Free
		option(value="201010300") Ballett
		option(value="102020400") Beat
		option(value="106030100") Bebop
		option(value="202050000") Belcanto-Stimmen
		option(value="104070000") Big Beat
		option(value="106010400") Bigband Swing
		option(value="103000000") Black Music (Black Music / HipHop)
		option(value="201010230") Blechbläserensemble
		option(value="201010202") Blockflöte
		option(value="201010502") Blockflöte (Solo)
		option(value="103030000") Blues
		option(value="106030800") Bossa Nova
		option(value="104100000") Breakbeat
		option(value="101010200") Brit Pop
		option(value="108060000") Cajun/Zydeco
		option(value="107020400") Calypso
		option(value="201010213") Cello
		option(value="201010513") Cello (Solo)
		option(value="201010220") Cembalo
		option(value="201010520") Cembalo (Solo)
		option(value="104080400") Chillout
		option(value="201020300") Chor (Chormusik)
		option(value="201020307") Chor und Orchester
		option(value="103030300") City Blues
		option(value="109020150") Classics
		option(value="103030200") Classics Blues
		option(value="103040300") Contemporary
		option(value="103020200") Contemporary R&B
		option(value="108000000") Country (Country and Western)
		option(value="104000000") Dance & Electronic (Dance/Techno/Disco)
		option(value="103080500") Dancehall
		option(value="104020000") Dancepop (Dance/Eurodance/Dancepop)
		option(value="103030100") Delta / Country Blues
		option(value="102060300") Deutsche Szene
		option(value="101020100") Deutsch-Pop
		option(value="103070200") Deutschspr. HipHop /- Rap
		option(value="104010000") Disco
		option(value="106010300") Dixieland (Revival)
		option(value="102010300") Doo Wop
		option(value="104080300") Downbeat
		option(value="104060000") Drum & Bass / Jungle
		option(value="107030300") Dt. Folklore
		option(value="103080301") Dub
		option(value="103080300") Dub/Raggamuffin
		option(value="101011000") Easy Listening
		option(value="101050000") Entertainer (Traditionell / Entertainer / Chanson)
		option(value="101010500") Euro Pop
		option(value="107040702") Fado
		option(value="201010205") Fagott
		option(value="201010505") Fagott (Solo)
		option(value="101040000") Filmmusik (Filmmusik / Soundtrack / Musical)
		option(value="107040701") Flamenco / Sevillanas
		option(value="201010201") Flöte
		option(value="201010501") Flöte (Solo)
		option(value="102030300") Flower Power
		option(value="101050400") Französisch / Chanson
		option(value="201020301") Frauenchor
		option(value="101010400") French Pop
		option(value="103070103") French-Rap
		option(value="103060000") Funk
		option(value="102050200") Funpunk
		option(value="104030300") Gabba
		option(value="102050400") Garage
		option(value="104040100") Garage House
		option(value="201020211") geistl. Madrigal
		option(value="201020204") Geistliche Kantate
		option(value="201020306") Gemischter Chor
		option(value="201010231") gemischtes Bläserensemble (Holz + Blech)
		option(value="201010232") gemischtes Ensemble (Streicher + Bläser)
		option(value="103070300") G-Funk
		option(value="201020210") Gregorianik
		option(value="106030200") Hard Bop
		option(value="104030800") Hardstyle
		option(value="201010218") Harfe
		option(value="201010518") Harfe (Solo)
		option(value="103070000") HipHop / Rap
		option(value="201010229") Holzbläserensemble
		option(value="201010207") Horn
		option(value="201010507") Horn (Solo)
		option(value="104040000") House
		option(value="109070000") Inszenierung / Theater
		option(value="103070100") Int. HipHop / Rap
		option(value="101010300") Italo Pop
		option(value="106000000") Jazz
		option(value="107041000") Jiddisch / Klezmer
		option(value="109030000") Kabarett
		option(value="101060000") Karaoke
		option(value="201020303") Kinderchor
		option(value="302030000") Kinderklassik
		option(value="302020000") Kinderlieder
		option(value="302020200") Kinderlieder modern
		option(value="302020100") Kinderlieder traditionell
		option(value="302010000") Kinderpop
		option(value="300000000") Kinderprogramm
		option(value="301050000") Kindersachhörbuch
		option(value="301040000") Kinder-Special Interest
		option(value="201010204") Klarinette
		option(value="201010504") Klarinette (Solo)
		option(value="200000000") Klassik
		option(value="201030000") Klassik - Neue / Zeitgenössische Musik
		option(value="201020000") Klassik - Vokal
		option(value="202000000") Klassik Crossover / Populärklassik
		option(value="202060000") Klassik-Ethno-Crossover
		option(value="202030000") Klassik-Jazz-Crossover
		option(value="202030200") Klassik-Jazz-Kompositionen
		option(value="202010000") Klassik-Pop-Crossover
		option(value="202070000") Klassische Weihnachtsmusik
		option(value="201020108") Klassisches Musical
		option(value="201010519") Klavier (Solo)
		option(value="201020302") Knabenchor
		option(value="201010514") Kontrabass
		option(value="107020700") Kuba/Son
		option(value="201020403") Kunstlied Alt
		option(value="201020407") Kunstlied Bariton
		option(value="201020408") Kunstlied Baß
		option(value="201020405") Kunstlied Countertenor
		option(value="201020404") Kunstlied Knabensopran/Knabenalt
		option(value="201020409") Kunstlied Mehrere Solostimmen
		option(value="201020402") Kunstlied Mezzosopran
		option(value="201020401") Kunstlied Sopran
		option(value="201020406") Kunstlied Tenor
		option(value="101050500") Latin
		option(value="106030900") Latin Jazz
		option(value="101010600") Latin Pop
		option(value="201010217") Laute
		option(value="201010517") Laute (Solo)
		option(value="101020400") Liedermacher
		option(value="201020105") Madrigal
		option(value="201020208") Magnificat
		option(value="103070101") Mainstream (Int. Hip Hop/Rap)
		option(value="103070201") Mainstream
		option(value="103080100") Mainstream (Reggae)
		option(value="108010000") Mainstream (Country)
		option(value="106020000") Mainstream Jazz
		option(value="201010216") Mandoline
		option(value="201010516") Mandoline (Solo)
		option(value="201020304") Männerchor
		option(value="107020600") Mariachi
		option(value="201010426") Mehrere Soloinstrumente
		option(value="104110000") Minimal
		option(value="201030600") Minimal Music
		option(value="106030000") Modern
		option(value="105030000") Modetänze/Neuere Tänze
		option(value="101010100") MOR (Middle of the Road)
		option(value="201020205") Motette
		option(value="103040200") Motown
		option(value="101020600") Mundart-Pop
		option(value="101040300") Musical
		option(value="201010200") Musik für Kammerensemble
		option(value="106031100") Nu-Jazz
		option(value="201010203") Oboe
		option(value="201010503") Oboe (Solo)
		option(value="106010100") Oldtime Jazz
		option(value="201020101") Oper
		option(value="201020102") Operette
		option(value="202040200") Operette/Schlager
		option(value="202040000") Operette/Schlager-Crossover
		option(value="201020201") Oratorium
		option(value="101030200") Orchester/Combos
		option(value="201010222") Orgel
		option(value="201010522") Orgel (Solo)
		option(value="103040100") PhillySound
		option(value="101060100") Playbacks (alle Stile Pop und Klassik)
		option(value="101000000") Pop
		option(value="101020000") Pop deutschsprachig
		option(value="101030000") Pop instrumental 
		option(value="101010000") Pop international
		option(value="106030600") Pop Jazz / Smooth Jazz
		option(value="201030802") Populäre Moderne
		option(value="201010209") Posaune
		option(value="201010509") Posaune (Solo)
		option(value="201030804") Postmoderne Musik / Polystilistik
		option(value="104030700") Progressive Electro House
		option(value="104030600") Progressive House
		option(value="104030400") Progressive Trance
		option(value="104030500") Psychedelic Trance
		option(value="103080302") Raggamuffin
		option(value="106010200") Ragtime
		option(value="103080000") Reggae
		option(value="201020203") Requiem
		option(value="103020000") Rhythm and Blues
		option(value="103080200") Roots
		option(value="107020300") Salsa
		option(value="107020200") Samba
		option(value="201020500") Sänger (Sängerportraits)
		option(value="201020503") Sängerportrait Alt
		option(value="201020507") Sängerportrait Bariton
		option(value="201020508") Sängerportrait Baß
		option(value="201020505") Sängerportrait Countertenor
		option(value="201020504") Sängerportrait Knabensopran
		option(value="201020502") Sängerportrait Mezzosopran
		option(value="201020501") Sängerportrait Sopran
		option(value="201020506") Sängerportrait Tenor
		option(value="201020509") Sängerportrait verschiedene Stimmlagen
		option(value="201010206") Saxophon
		option(value="201010506") Saxophon (Solo)
		option(value="201020103") Schauspielmusik
		option(value="101020200") Schlager (Deutscher Schlager)
		option(value="101020300") Schlager (Schlager-Party)
		option(value="201010224") Schlagzeuginstrument (Vibraphon etc.)
		option(value="201010524") Schlagzeuginstrument (Vibraphon etc.) (Solo)
		option(value="103080400") Ska
		option(value="101030100") Solisten
		option(value="201010500") Soloinstrument (Instr. ohne Orchester)
		option(value="201039900") Sonstige Neue / Zeitgenössische Musik
		option(value="202990000") Sonstige Populäre Klassik
		option(value="101059900") Sonstiges (Entertainer)
		option(value="201010233") Sonstiges Kammerensemble
		option(value="201010225") Sonstiges Melodieinstrument
		option(value="201010525") Sonstiges Melodieinstrument (Solo)
		option(value="103040000") Soul
		option(value="101040100") Soundtrack
		option(value="103010000") Spiritual / Gospel
		option(value="108000100") Square-/ Line Dance
		option(value="107020500") Steelband
		option(value="201010228") Streicherensemble
		option(value="201010101") Streichorchester
		option(value="201010227") Streichquartett
		option(value="201010226") Streichtrio
		option(value="102010200") Surf
		option(value="106010500") Swing Combos
		option(value="103050000") Swingbeat
		option(value="107020100") Tango
		option(value="105000000") Tanzorchester (Tanzmusik / -orchester)
		option(value="105050000") Tanzparty
		option(value="201020209") Te Deum
		option(value="104030000") Techno
		option(value="108050000") TexMex
		option(value="106010000") Traditional / Swing
		option(value="107030200") Traditionell
		option(value="103020100") Traditioneller R&B
		option(value="104030100") Trance
		option(value="104090000") TripHop
		option(value="201010208") Trompete
		option(value="201010508") Trompete (Solo)
		option(value="201010210") Tuba
		option(value="201010510") Tuba (Solo)
		option(value="103070400") Turntablism
		option(value="202030100") Verjazzte Klassik
		option(value="201010212") Viola
		option(value="201010512") Viola (Solo)
		option(value="201010211") Violine
		option(value="201010511") Violine (Solo)
		option(value="104040200") Vocal House
		option(value="201020305") Vokalensemble
		option(value="107030000") Volksmusik (Deutsch Volkstüml.)
		option(value="107030100") Volkstümliche Schlager
		option(value="202040100") Walzer
		option(value="110030000") Weihnachtsklassik
		option(value="110010000") Weihnachtslieder
		option(value="110020000") Weihnachtspop
		option(value="110000000") Weihnachtsrepertoire
		option(value="201020104") Weltliche Kantate
		option(value="201020100") Weltliche Musik
		option(value="102020100") Westcoast
		option(value="108040000") Western Swing
		option(value="107000000") World (Worldmusic / Folklore / Volkstümlich)
		option(value="107010100") Worldbeat
		option(value="106031000") World-Jazz / Ethno-Jazz
		option(value="107040903") Zigeunermusik/ Sinti
