.unit-list-wrap
	.unit-control
	.unit-control.rasd
	ul(id="ulUnit",style="width: 12000px; display: block")
		li.unit-item
			a.unit-link(href="http://", onclick="ShowUnitInformation()")
				img.unit-image(src="images/Demo/Albums/1.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play.icon-2x
						span.unit-information
							span.unit-album
								| Paradize 2069
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Gothic
		li.unit-item.unit-big
			a.unit-link(href="/")
				img.unit-image(src="images/Demo/Albums/0.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Hellektrostar EP
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Cyber
		li.unit-item.penis
			a(href="/")
				img.unit-image(src="images/Demo/Albums/2.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Gothic Pussy EP
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Cyber
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/3.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Anarchy Engineers
							span.unit-artist
								| Extize
							span.unit-genre
								| Dirt'E'Tronic
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/4.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Arschloch EP
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/5.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Paradize 2069
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Gothic
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/6.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Hellektrostar EP
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Cyber
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/7.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Gothic Pussy EP
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Cyber
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/8.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Anarchy Engineers
							span.unit-artist
								| Extize
							span.unit-genre
								| Dirt'E'Tronic
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/9.jpg")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Arschloch EP
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/a.png")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Paradize 2069
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Gothic
		li.unit-item
			a(href="/")
				img.unit-image(src="images/Demo/Albums/b.png")
				span.mask.hidden
					span.wrap
						span.unit-button
							span.badge
								i.icon-play
								span.action listen
						span.unit-information
							span.unit-album
								| Hellektrostar EP
							span.unit-artist
								| Extize
							span.unit-genre
								| Electro - Cyber