footer
	#footer_1
		.container
			.row
				.span4
					h3.headl Über uns
					p lorem ipsum
					
					h1 
						i.icon-envelope-alt.icon-2x
						|  Mail
				.span4
				.span4
					h3.headl Contact Us
					address
						| blabla
						br
						| bla
						br
						| blaaa
						br
						| Email: support@darktunes.de
					h3.headl Social Network
	#footer_2
		.container
			.row
				.span8
					p Copyright © 2013 Dev DIfdZ. Alle Rechte vorbehalten.
				.span4
					a(href="#")
						| Agb 
					a(href="#")
						| Impressum 
					a(href="#")
						| FAQ 