footer
	#footer_1
		.container
			.row
				.span4
					h3.headl Über uns
					p lorem ipsum
					
					h3.headl Admin
					a(href="#NotiModal", data-toggle="modal")
						h2
							i.icon-envelope-alt.icon-2x
							|  Report
				.span4
				.span4
					h3.headl Contact Us
					address
						| blabla
						br
						| bla
						br
						| blaaa
						br
						| Email: support@darktunes.de
					h3.headl Social Network
	#footer_2
		.container
			.row
				.span8
					| Copyright © 2013 Dev DIfdZ. Alle Rechte vorbehalten.
				.span4
					.pull-right
						a(href="#")
							| Agb 
						a(href="#")
							| Impressum 
						a(href="#")
							| FAQ 
						
						
#NotiModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-header
		button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
		h3 Request Admin
	.modal-body
		form.form-horizontal
			.control-group
				label.control-label(for="") Anliegen: 
				.controls
					select
						option Bug
						option Upload Problem
						option Payment Problem
						option Other Problem
			.control-group
				textarea.full(rows="6")
		
	.modal-footer
		button.btn.btn-primary	Submit
