extends topNav
block content
	.container
		.row
			.place.m
			h1.mid Online Netlabel
			h3.mid Sell your stuff Online
			.place.s
		.row
			.span2

			ul.nav
				li.active.span2
					a(href="#tab1")
						img.mid(src="http://placehold.it/120x80")
						h4.mid What is dT Music
				li.span2
					a(href="#tab2")
						img.mid(src="http://placehold.it/120x80")
						h4.mid MenuPoint2
				li.span2
					a(href="#tab3")
						img.mid(src="http://placehold.it/120x80")
						h4.mid MenuPoint3
				li.span2
					a(href="#tab4")
						img.mid(src="http://placehold.it/120x80")
						h4.mid MenuPoint4
			.span2
		.row
			.span1
			.span10
				.well.d
					iframe.mid(width="560", height="315", src="http://www.youtube.com/embed/LihRY4vRCio", frameborder="0", allowfullscreen)