.container
	.row
		.place.m
		h1.mid Darktunes Netlabel
		h3.mid Sell your Music Online
		.place.s
	.tabbable
		.row
			.span2
			ul.indNav
				li.active.span2
					a(href="#tab1", data-toggle="tab")
						img.mid(src="images/corp_Ident/Lupe.png")

						
				li.span2
					a(href="#tab2", data-toggle="tab")
						img.mid(src="images/corp_Ident/upload.png")

						
				li.span2
					a(href="#tab3", data-toggle="tab")
						img.mid(src="images/corp_Ident/publish.png")
						
				li.span2
					a(href="#tab4", data-toggle="tab")
						img.mid(src="images/corp_Ident/money.png")
		
		.row
			.span2
			.span8
				a.close.metalhand(href="#regMod", data-toggle="modal")
					img(src="images/corp_Ident/logos/hand.png", width="200px")
				.well.d
					.tab-content
						#tab1.tab-pane.active
							
							h3 Was ist die darkTunes Music Group?
							| Wir sind dein Tor in die digitale Musikwelt, denn wir sorgen dafür, dass deine selbst produzierte Musik auf allen Musikportalen zum Verkauf oder zum kostenpflichtigen Stream angeboten wird. Versorge die ganze Welt mit deinem Sound und verdiene Geld damit! 
							br
							br
							iframe.mid(width="560", height="315", src="//www.youtube.com/embed/r0PwRT2H6zg", frameborder="0", allowfullscreen)

						#tab2.tab-pane
							h3 Mach deine Musik zu Geld
							p Deine Musik in über 120 Online Shops Weltweit!

							ul.thumbnails
								li
										a.thumbnail(href="http://www.apple.com/itunes/?cid=OAS-US-DOMAINS-itunes.com", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/1.png", width="100px")
								li
										a.thumbnail(href="http://de.7digital.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/2.png", width="100px")
								li
										a.thumbnail(href="http://www.247entertainment.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/3.png", width="100px")
								li
										a.thumbnail(href="http://www.amazon.com/b?ie=UTF8&node=163856011", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/4.png", width="100px")
								li
										a.thumbnail(href="http://www.beatport.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/5.png", width="100px")
								li
										a.thumbnail(href="http://www.junodownload.com/djdownload/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/6.png", width="100px")
								li
										a.thumbnail(href="http://www.emusic.com/home/home.html", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/7.png", width="100px")
								li
										a.thumbnail(href="http://www.fnac.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/8.png", width="100px")
								li
										a.thumbnail(href="http://imusiciandigital.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/9.png", width="100px")
								li
										a.thumbnail(href="http://inprodicon.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/10.png", width="100px")
								li
										a.thumbnail(href="http://www.mndigital.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/11.png", width="100px")
								li
										a.thumbnail(href="http://www.musicload.de/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/12.png", width="100px")
								li
										a.thumbnail(href="http://www.napster.de/start", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/13.png", width="100px")
								li
										a.thumbnail(href="http://store.ovi.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/14.png", width="100px")
								li
										a.thumbnail(href="http://www.securycast.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/15.png", width="100px")
								li
										a.thumbnail(href="http://www.virgin.com/company/virgin-megastore", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/16.png", width="100px")
								li
										a.thumbnail(href="http://www.xbox.com/de-DE/live/zune", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/17.png", width="100px")
								li
										a.thumbnail(href="http://www.dj-playlist.de/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/18.png", width="100px")
								li
										a.thumbnail(href="http://www.dance-tunes.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/19.png", width="100px")
								li
										a.thumbnail(href="http://www.djtunes.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/20.png", width="100px")
								li
										a.thumbnail(href="http://www.djshop.de/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/21.png", width="100px")
								li
										a.thumbnail(href="https://www.whatpeopleplay.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/22.png", width="100px")
								li
										a.thumbnail(href="http://www.junodownload.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/23.png", width="100px")
								li
										a.thumbnail(href="https://www.spotify.com/de/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/24.png", width="100px")
								li
										a.thumbnail(href="http://www.rhapsody.com/start", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/25.png", width="100px")
								li
										a.thumbnail(href="http://www.traxsource.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/26.png", width="100px")
								li
										a.thumbnail(href="http://www.simfy.de/start", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/27.png", width="100px")
								li
										a.thumbnail(href="http://www.wimp.no/wweb/index/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/28.png", width="100px")
								li
										a.thumbnail(href="http://www.htfr.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/29.png", width="100px")
								li
										a.thumbnail(href="http://www.mondiamedia.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/30.png", width="100px")
								li
										a.thumbnail(href="http://www.net-mobile.com/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/31.png", width="100px")
								li
										a.thumbnail(href="http://www.jamba.de/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/32.png", width="100px")
								li
										a.thumbnail(href="http://www.zaoza.de/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/33.png", width="100px")
								li
										a.thumbnail(href="http://www.sms.at/", data-toggle="tab")
											img.mid(src="../images/corp_Ident/shops/Nu/34.png", width="100px")

						#tab3.tab-pane
							h3 Promote deine Musik (Bald verfügbar)
							p Erreiche Tausende von Gothic- und Metal Fans auf der ganzen Welt! Wir unterstützen dich dabei mit individuellen Promotion- und Werbepaketen, die über unser darkTunes Netzwerk genau deine Zielgruppe auf den Kopf treffen.
							br
							p Klicke hier um die 
								a(href="#regMod", data-toggle="modal")  Darktunes Community 
								| zu entdecken!
						#tab4.tab-pane
							h3 Musik zu Geld Machen 
							p Der 2€ & 50/50 Deal! 
								a(href="#agbModal", data-toggle="modal") (Hier kannst du den Vertrag anschauen)
							br
							br
							p Du lädst deine Songs, EP´s oder Alben bei uns hoch, wir bringen die Mucke weltweit in die Shops und du zahlst nur 2€ pro Song für die technische Bearbeitung und Auslieferung, ohne irgendwelche versteckten Kosten. Du bekommst von uns auch EAN, Barcodes und ISRC Codes. Wir bringen deine Musik in über 120 Shops Weltweit. Die Anzahl der verkauften Songs kannst du in Echtzeit abrufen. Die Umsätze von den Verkäufen teilen wir uns 50/50!
							br
							p Beispiel: Du lädst ein Album mit 15 Lieder bei uns hoch, du bezahlst einmalig 2€ x 15 = 30€. Wir kümmern uns um alles anderen und du bekommst 50% der Einahmen!