doctype 5
html id
	head
		title= title
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext', type='text/css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap_override.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/cCenter.css')

		script(src='/javascripts/jq.js')
		script(src='/javascripts/jq-rot-scal.js')
		script(src='/javascripts/jq_en_decode.js')
		script(src='/javascripts/jq-addr.js')
		script(src='/javascripts/jq-form.js')
		script(src='/javascripts/ang.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/ang-ui-boot.js')
		script(src='/javascripts/core.js')
		script(src='/javascripts/ajax.js')
		
	body
		#ajxFirstLoad
			include topNav
			- if(!dash)
				include index
			- else
				include sideNav
			include includes/footer