#Content
	span.foldIt(id="foldit", onclick="CloseAlbumCaroussel()")
		i.icon-chevron-up.icon-white
	.midContent
	.container
		.row
			#AjaxContent.span9
				include slides/slideDash
			.span3.hallo
				.sideNav
					ul.nav.nav-list(id="ulSideNav")
						li.active
							a(href="/dashboard", rel="address:/dashboard")
								i.icon-home.icon-2x
								|   Dashboard
						li
							a(href="/upload", rel="address:/upload")
								i.icon-upload.icon-2x
								|	Upload Songs
						li
							a(href="/albums", rel="address:/albums")
								i.icon-music.icon-2x
								|	Discographie
						li
							a(href="/statistic", rel="address:/statistic")
								i.icon-bar-chart.icon-2x
								|	Statistic
						//li.divider
						li
							a(href="/settings", rel="address:/settings")
								i.icon-cog.icon-2x
								|	Settings
						-if(dash.account_state == "admin")
							li.divider
							li.nav-header Admin Menu
							li
								a(href="/adminUser", rel="address:/adminUser")
									i.icon-star.icon-2x
									|	 Users
							li
								a(href="/adminReq", rel="address:/adminReq")
									i.icon-headphones.icon-2x
									|	 Requests
							li
								a(href="/adminSett", rel="address:/adminSett")
									i.icon-headphones.icon-2x
									|	Settings
							li
								a(href="/adminLang", rel="address:/adminLang")
									i.icon-headphones.icon-2x
									|	Edit Languages
							li
								a(href="/adminNews", rel="address:/adminNews")
									i.icon-headphones.icon-2x
									|	News