extends topNav
block content
		#Content
			.midContent
			.container
				div.row
					#AjaxContent.span9
						include slides/slideDash
					div.span3
						div.sidebar-nav
							div.well.d
								ul.nav.nav-list(id="ulSideNav")
									//li.divider
									li
										blockquote
											- if(!navi.user)
												h4 BandName Eintragen
											- else
												h4 #{navi.user}
											small #{navi.email}
									li.divider
									li.nav-header Band Menu
									li.active(id="liSiDash")
										a(href="/dashboard") 
											i.icon-home.icon-white
											|   Dashboard
									li(id="")
										a(href="/profil")
											i.icon-user.icon-white
											|	Profil
									li(id="liSiUpl")
										a(href="/upload")
											i.icon-share.icon-white
											|	Upload Songs
									li(id="liSiStat")
										a(href="/statistic")
											i.icon-indent-left.icon-white
											|	Statistic
									li.divider
									li(id="liSiSett")
										a(href="/settings")
											i.icon-cog.icon-white
											|	Settings
									li.divider
									li.nav-header Admin Menu
									li
										a(href="/adminUser")
											i.icon-star.icon-white
											|	Manage Users
									li
										a(href="/adminRequests")
											i.icon-headphones.icon-white
											|	Manage Requests
									li
										a(href="/adminSett")
											i.icon-headphones.icon-white
											|	Settings
									li
										a(href="/adminLang")
											i.icon-headphones.icon-white
											|	Edit Languages