header
	nav.navbar.navbar-inverse.navbar-fixed-top
		.navbar-inner.navBar
			.container.container-navigation
				a.brand.brand-fix(href="/")
					img(src="../images/corp_Ident/logo.png", width="400")
				.nav-collapse
					ul.nav.pull-right
						- if(!navi.email)
							li.divider-vertical
							li
								a.brand(href="#regMod", data-toggle="modal")
									b Anmelden
							li.divider-vertical
							li.dropdown
								a.brand.dropdown-toggle(href="#", data-toggle="dropdown")
									b  Einloggen 
									b.caret
								.dropdown-menu
									.well
										legend Einloggen
										form.ajaxForm(method="POST", action="login", accept-charset="UTF-8")
											input.span3(type="text", name="email", placeholder="Email")
											input.span3(type="password", name="password", placeholder="Passwort")
											label.checkbox
												input(type="checkbox", name="remember", value="1") 
												p Remember Me
											button.btn.btn-primary.btn-block(type="submit", name="submit")
												b Einloggen
											a.btn-block(href="/lostPassword")
												| Passwort vergessen?
						- else
							li.divider-vertical
							//-if(msg.amount > 0)
							li
									a(href="#messageModal", data-toggle="modal")
										i.icon-envelope-alt.icon-2x
										span.label.corner.pull-right.label-important #{msg.amount}
							li
								#email.hidden
									| #{navi.email}
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									| Hellcome #{navi.email} 
									b.caret
								ul.dropdown-menu(role="menu", aria-labledby="dropdownMenu")
									li
										a(tabindex="-1", href="/logout") Ausloggen

#cWrap
	include includes/unit-slider