@font-face {
  font-family: "Ruri";
  font-style: normal;
  src: url("../fonts/Ruritania.ttf");
}
@font-face {
  font-family: "Augu";
  font-style: normal;
  src: url("../fonts/Augusta.ttf");
}
@font-face {
  font-family: "Origin";
  font-style: normal;
  src: url("../fonts/Origin.ttf");
}
Legend {
  color: #ddd;
  font-family: Augu;
}
Legend:first-letter {
  font-family: Ruri;
  font-size: larger;
}
#NavIcoLeft {
  font-family: Origin;
}
hr.s {
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0));
  background-image: -moz-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0));
  background-image: -ms-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0));
  background-image: -o-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0));
}
.hidesrc {
  position: absolute;
  opacity: 0;
  margin: 0;
}
input.hidescr {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 80px;
}
body {
  font-size: 14px;
  font-family: Titillium Web;
  background-color: #272727;
  padding-top: 78px;
}
a {
  color: #00b7ff;
}
.wh {
  color: #fff;
}
.brand-fix {
  padding-top: 5px !important;
}
.container-navigation {
  padding-top: 18px;
}
#TopNav {
  height: 78px;
}
.indexField {
  padding-top: 10%;
  padding-bottom: 10%;
}
.navBar {
  min-height: 78px;
}
.indexDivider {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0px;
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}
#cWrap {
  position: relative;
}
#cWrap #subHeadNav {
  position: relative;
  height: 25px;
  width: 100%;
  background-color: #272727;
  left: 0px;
  box-shadow: 0px -8px 8px #111;
}
.unit-list-wrap {
  height: 180px;
  overflow: hidden;
}
.unit-list-wrap ul {
  position: relative;
  height: 180px;
  left: 0px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  z-index: 1;
}
.unit-list-wrap ul .unit-item {
  float: left;
}
.unit-list-wrap ul .unit-item a {
  display: block;
  text-decoration: none;
  max-height: 180px;
}
.unit-list-wrap ul .unit-item .unit-image {
  height: 180px;
  width: 180px;
  padding: 0;
}
.unit-list-wrap ul .unit-item .mask {
  background: linear-gradient(to bottom, rgba(66,66,66,0) 0%, #222 100%) repeat scroll 0 0 rgba(44,44,44,0.95);
  border-top: 1px solid #ccc;
  bottom: 90px;
  display: block;
  height: 90px;
  position: relative;
  width: 180px;
}
.unit-list-wrap ul .unit-item .mask .wrap {
  display: block;
  padding: 15px 0 0 0;
  position: relative;
  height: calc(75px);
}
.unit-list-wrap ul .unit-item .mask .wrap .unit-button {
  background-clip: padding-box;
  display: block;
  position: absolute;
  text-align: center;
  top: -11px;
  width: 180px;
}
.unit-list-wrap ul .unit-item .mask .wrap .unit-button .action {
  padding: 0 0 0 5px;
}
.unit-list-wrap ul .unit-item .mask .wrap .unit-information {
  color: #f5f5f5;
  font-size: 11px;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 -1px 1px rgba(0,1,0,0.5);
  top: 40px;
  transition: all 200ms ease 0s;
  white-space: nowrap;
  width: 180px;
}
.unit-list-wrap ul .unit-item .mask .wrap .unit-information .unit-album {
  color: #f5f5f5;
  display: block;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 -1px 1px rgba(0,1,0,0.5);
  transition: all 200ms ease 0s;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  padding: 0 15px;
}
.unit-list-wrap ul .unit-item .mask .wrap .unit-information .unit-artist {
  display: block;
  overflow: hidden;
  padding: 0 15px;
  text-overflow: ellipsis;
  font-size: 12px;
}
.unit-list-wrap ul .unit-item .mask .wrap .unit-information .unit-genre {
  color: #aaa;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  padding: 6px 15px 0;
}
.unit-list-wrap ul .unit-big .unit-image {
  width: calc(360px);
}
.unit-list-wrap ul .unit-big .mask {
  width: calc(360px);
}
.unit-list-wrap ul .unit-big .mask .wrap .unit-button {
  width: calc(360px);
}
.unit-list-wrap ul .unit-big .mask .wrap .unit-information {
  width: calc(360px);
}
.unit-list-wrap ul .unit-bigger .unit-image {
  width: calc(540px);
}
.unit-list-wrap ul .unit-bigger .mask {
  width: calc(540px);
}
.unit-list-wrap ul .unit-bigger .mask .wrap .unit-button {
  width: calc(540px);
}
.unit-list-wrap ul .unit-bigger .mask .wrap .unit-information {
  width: calc(540px);
}
.unit-list-wrap ul .unit-huge .unit-image {
  width: calc(720px);
}
.unit-list-wrap ul .unit-huge .mask {
  width: calc(720px);
}
.unit-list-wrap ul .unit-huge .mask .wrap .unit-button {
  width: calc(720px);
}
.unit-list-wrap ul .unit-huge .mask .wrap .unit-information {
  width: calc(720px);
}
.navbar {
  box-shadow: 0px 8px 10px #000;
}
.unit-control {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  height: 80px;
  width: 50px;
  background-color: #111;
  color: #999;
  opacity: 0.9;
  border-radius: 0 20px 20px 0;
  z-index: 2;
  text-align: right;
  font-size: 20px;
}
.unit-control i {
  vertical-align: -35px;
}
.unit-control.rasd {
  text-align: left;
  right: 0px;
  border-radius: 20px 0 0 20px;
}
.mid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#footer_1 {
  padding: 20px;
  background-color: #151515;
  color: #ddd;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
}
#footer_1 .headl {
  border-bottom: 1px dotted #ddd;
  font-weight: normal;
}
#footer_2 {
  padding: 15px;
  background-color: #111;
  color: #bbb;
}
#footer_2 a {
  padding: 5px;
}
textarea.full {
  width: 95%;
  margin-right: 10px;
}
#ulSideNav li {
  font-size: 1.5em;
}
#ulSideNav li.divider {
  height: 1px;
  border: 0;
}
#ulSideNav li.nav-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
#ulSideNav li.active a {
  border-radius: 3px;
  background-color: transparent;
}
#ulSideNav li a {
  padding-top: 20px;
  padding-bottom: 15px;
}
#ulSideNav li a:hover {
  background-color: transparent;
  color: #999;
}
span.add-on {
  color: #333;
}
.icon-ok {
  color: #008000;
}
.icon-remove {
  color: #f00;
}
i.norm {
  color: #ddd;
  font-size: 3em;
}
i.inv {
  color: #333;
}
