menu-height = 78px;

@font-face
    font-family: "Ruri"
    font-style: normal
    src: url("../fonts/Ruritania.ttf")
	
@font-face
    font-family: "Augu"
    font-style: normal
    src: url("../fonts/Augusta.ttf")
	
@font-face
    font-family: "Origin"
    font-style: normal
    src: url("../fonts/Origin.ttf")

Legend
	color: #ddd
	font-family: Augu
Legend:first-letter
	font-family: Ruri
	font-size: larger

#NavIcoLeft
	font-family: Origin
	

	
	
	
	
	
	
	
hr.s
	height: 1px
	border: 0
	background-image: -webkit-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0)) 
	background-image: -moz-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0)) 
	background-image: -ms-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0)) 
	background-image: -o-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,0.75), rgba(221,221,221,0)) 

.hidesrc
	position: absolute
	opacity: 0
	margin: 0
	
	
input.hidescr
	position: absolute
	opacity: 0
	z-index: 2
	width: 80px;
	
header
	//box-shadow: 0px 8px 10px #000

body
	font-size: 14px 
	font-family: Titillium Web
	background-color: #272727
	padding-top: menu-height
	
a
	color: #00B7FF

	
.wh
	color:white
//// Index ////
// Divs //

.brand-fix
	padding-top: 5px !important

.container-navigation
	padding-top: 18px

#TopNav
	height: menu-height


.indexField
	padding-top: 10%
	
	padding-bottom: 10%
.navBar
	min-height: menu-height
.indexDivider
	position: absolute
	height: auto
	width: 100%
	left: 0px
	background-color: #f9f9f9
	padding-top: 50px
	padding-bottom: 50px
	
///////////
// UNITS //
///////////

// VARIABLES //

// PLEASE NOTE: The Genre-<span> isn't shown if a value below 140px is chosen (for overflow reasons)
unit-height = 180px


// WORKAROUND: Limits the maximum/minimum size of the unit-height, for best displaying reasons
if unit-height >= 201px
	unit-height = 200px

if unit-height <= 99px
	unit-height = 100px
// END WORKAROUND

unit-width = unit-height
mask-height = unit-height / 2


#cWrap
	position: relative

	#subHeadNav
		position: relative
		height: 25px
		width: 100%
		background-color: #272727
		left: 0px
		box-shadow: 0px -8px 8px #111

.unit-list-wrap
	height: unit-height
	overflow: hidden
	
	ul
		position: relative
		height: unit-height
		left: 0px
		list-style-type: none
		margin: 0
		overflow: hidden
		padding: 0
		z-index: 1
	
		.unit-item
			float: left
				
			a
				display: block
				text-decoration: none
				max-height: unit-height;
		
			.unit-image
				height: unit-height
				width: unit-width
				padding: 0

			.mask 
				background: linear-gradient(to bottom, rgba(66, 66, 66, 0) 0%, #222222 100%) repeat scroll 0 0 rgba(44, 44, 44, 0.95)
				border-top: 1px solid #ccc
				bottom: mask-height
				display: block
				height: mask-height
				//left: 0
				position: relative
				width: unit-width

				.wrap
					display: block
					padding: 15px 0 0 0
					position: relative
					height: calc(mask-height - 15px)

					.unit-button
						background-clip: padding-box
						//border-radius: 50% 50% 50% 50%
						display: block
						//height: 70px
						//left: calc((180px - 70px) / 2)
						position: absolute
						text-align: center
						top: -11px
						width: unit-width
						
						.action
							padding: 0 0 0 5px

					.unit-information
						color: #F5F5F5
						font-size: 11px
						max-height: mask-height
						overflow: hidden
						text-overflow: ellipsis
						text-shadow: 0 -1px 1px rgba(0, 1, 0, 0.5)
						top: 40px
						transition: all 200ms ease 0s
						white-space: nowrap
						width: unit-width

						.unit-album
							color: #F5F5F5
							display: block						
							font-weight: bold
							overflow: hidden	
							text-overflow: ellipsis
							text-shadow: 0 -1px 1px rgba(0, 1, 0, 0.5)
							transition: all 200ms ease 0s
							white-space: nowrap
							
							if unit-height >= 180
								font-size: 14px
								line-height: 20px
								padding: 0 15px
							else
								font-size: 12px
								line-height: 15px
								
								if unit-height <= 140
									padding: calc(unit-height/10 - 10) 15px 0
								else
									padding: 0 15px
								
								if unit-height <= 100
									line-height: 12px
									

						.unit-artist
							display: block
							overflow: hidden
							padding: 0 15px
							text-overflow: ellipsis
							
							if unit-height >= 180
								font-size: 12px
							else
								font-size: 11px
								
								if unit-height <= 100
									line-height: 15px

						.unit-genre
							color: #aaaaaa
							display: block
							overflow: hidden
							text-overflow: ellipsis
							
							if unit-height >= 180
								line-height: 20px
								padding: 6px 15px 0
							else
								line-height: 12px
								padding: 0 15px
								
								if unit-height <= 140
									display: none
									
		.unit-big		
			.unit-image
				width: calc(unit-width * 2)
			.mask 
				width: calc(unit-width * 2)
				.wrap
					.unit-button
						width: calc(unit-width * 2)
					.unit-information
						width: calc(unit-width * 2)
					
		.unit-bigger	
			.unit-image
				width: calc(unit-width * 3)
			.mask 
				width: calc(unit-width * 3)
				.wrap
					.unit-button
						width: calc(unit-width * 3)
					.unit-information
						width: calc(unit-width * 3)
					
		.unit-huge	
			.unit-image
				width: calc(unit-width * 4)
			.mask 
				width: calc(unit-width * 4)
				.wrap
					.unit-button
						width: calc(unit-width * 4)
					.unit-information
						width: calc(unit-width * 4)
.navbar
	box-shadow: 0px 8px 10px #000
	
.unit-control
	position: absolute
	top: 50%
	margin-top: -40px
	height: 80px
	width: 50px
	background-color: #111
	color: #999
	opacity: 0.9
	border-radius: 0 20px 20px 0
	z-index: 2
	text-align: right
	font-size: 20px
	
	i
		vertical-align: -35px
		
		
	
	&.rasd
		text-align: left
		right: 0px
		border-radius: 20px 0 0 20px

	
.mid
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center
	
	
#footer_1
	padding: 20px
	background-color: #151515
	color: #ddd;
	border-top: 1px solid #555
	border-bottom: 1px solid #333

	.headl
		border-bottom: 1px dotted #ddd
		font-weight: normal

#footer_2
	padding: 15px
	background-color: #111
	color: #bbb
	a
		padding 5px

textarea.full
	width: 95%
	margin-right: 10px
	
#ulSideNav
	li
		font-size 1.5em
		
		&.divider
			height: 1px
			border: 0
		&.nav-header
			margin-top: 10px
			margin-bottom: 10px
			font-size: 1.3em
		&.active
			a
				border-radius: 3px
		a
			padding-top: 20px
			padding-bottom: 15px
			
span.add-on
	color: #333
				