row
	legend Dashboard
.row
	.span5
		.well.d
			legend Uploaded
			table.table
				tr.w
					th
						| Titel
					th
						| Status
				tr
					td
						| Stairway to Heaven
					td
						| Waiting
				tr
					td
						| Gothic Pussy
					td
						| Checking
				tr
					td
						| Anarchy Engeneers
					td
						| Available
	.span4
		.well.d
			legend Dein Kontostand
			h3 0.00 Euro
			.btn-group
				button.btn Details
				button.btn Auszahlen
.row
	.span5
		.well.d
			legend Unvollständige Uploads
			h4 keine unvollständigen Uploads
			button.btn Upload
	.span4
		.well.d
			legend Account
			h5 Account Status: Free Account
			| Noch 180 Tage
			br
			br
			button.btn Erweitern
			
//	
	.row
		.span9
			.well.d
				legend News
				div
					h5
						i.icon-white.icon-globe 
						|  Description
					p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				div
					h5
						i.icon-white.icon-globe 
						|  Description
					p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
