div.row
	legend Settings
	.well.d.span2
		legend Vouchers
		form(enctype="multipart/form-data", method="get", action="createVoucher")
			button.btn.btn-block Generate Voucher
		button.btn.btn-block Generate Vouchers
		button.btn.btn-block kill all Vouchers
	.well.d.span3
		legend Active Vouchers
		- if(!voucher)
			| No Vouchers Available
		- else
			h2 Unused
			ul
				- for(key in voucher)
					- if(voucher[key].used == 0)
						li #{voucher[key].code}
			h2 Used
			ul
				- for(key in voucher)
					- if(voucher[key].used != 0)
						li
							| #{voucher[key].code}
							| by: #{voucher[key].used}
							| at: #{voucher[key].time}