div.row
	legend Your Albums
	.well.d
		ul.thumbnails
			li
				a.thumbnail(href="#")
					h4 AlbumTitle
					img(src="http://placehold.it/200x200", width="200px", height="200px")
			li
				a.thumbnail(href="#")
					h4 AlbumTitle
					img(src="http://placehold.it/200x200")
			li
				a.thumbnail(href="#")
					h4 AlbumTitle
					img(src="http://placehold.it/200x200")
			li
				a.thumbnail(href="#")
					h4 AlbumTitle
					img(src="http://placehold.it/200x200")