div.row
	.tabbable
		ul.nav.nav-tabs
			li.active
				a(href="#tab2", data-toggle="tab") Upload
			li
				a(href="#tab1", data-toggle="tab") Uploaded
			li.pull-right
				i.icon-upload.icon-2x.norm
		.tab-content
			.tab-pane(id="tab1")
				.well.d
					ul.thumbnails
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200", width="200px", height="200px")
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200")
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200")
				
			.tab-pane.active(id="tab2")
				.span7
				
					.tabbable.tabs-left
						ul.nav.nav-tabs(id="uploadNav")
							li.active
								a(href="#ttab1", data-toggle="tab") 1. Album Cover
							li.disabled
								a(href="#ttab2", data-toggle="") 2. Album Info
							li.disabled
								a(href="#ttab3", data-toggle="") 3. Upload Songs
							li.disabled
								a(href="#ttab4", data-toggle="") 4. Payment
						.tab-content
							#ttab1.tab-pane.active
								.media
									.pull-left
										img.img-rounded(id="previewPic",src="images/cat_cover.png", height="220", width="220")
									.media-object
										Legend Upload Album Cover
										.media
											form.hidesrc(id="uploadForm", enctype="multipart/form-data", method="post", action="imageUpload")
												input.hidescr(id="invisImgUpl", name="Datei", type="file", onchange= "imgUpload()")
											.input-prepend.input-append
												button.btn(type="button") Upload
												span.add-on(id="spanFileName")   No File Uploaded  
											.well.d
												ul.icons-ul
													li
														i.icon-li.icon-star-empty
														| JPEG file format with .jpg extension
													li
														i.icon-li.icon-star-empty
														| At least 600 x 600 px & 72 dpi
													li
														i.icon-li.icon-star-empty
														| RGB-color space / Square format
							#ttab2.tab-pane
								legend Album Info
								.well.d
									form.form-horizontal(id="formAlbUpl2", enctype="multipart/form-data", method="post", action="uplAlbInfo")
					
										.control-group
											label.control-label(for="") Album Title
											.controls
												.input-append
													input(type="text", name="title", placeholder="Album Title", popover="I appeared on", popover-placement="right")	
													span.add-on
														i.icon-ok
										.control-group
											label.control-label(for="") Künstler
											.controls
												select(name="Interpret")
													option(value="0") Künstler A
													option(value="1") Künstler B
												a(href="#editModal", data-toggle="modal")
													i.icon-pencil.icon-white
										.control-group
											label.control-label(for="") Künstlername auf Cover
											.controls
												input(type="text", name="exact_interpret", placeholder="Künstlername")
										hr.s
										.control-group
													label.control-label(for="") Digital Release date
													.controls
														.input-append
															input(type="text", name="digital_ReleaseDate", placeholder="Release Date")
															span.add-on
																i.icon-remove
										.control-group
											label.control-label(for="") Language
											.controls
												select(name="Language")
													option(value="ger") German
													option(value="eng") English
										.control-group
											label.control-label(for="") Media Type
											.controls
												select(name="media_type")
													option(value="album") Album
													option(value="ep") EP
													option(value="audioBook") Audiobook
										hr.s
										.control-group
											label.control-label(for="") Genre
											.controls
												select(name="genre")
													option(value="rock") Rock
													option Pop
													option Country/Folk
													option Jazz
													option HipHop
													option Soul/Funk
													option Dance/Electronic
													option Classical
													option Raggae
										.control-group
											label.control-label(for="") Individual Genre
											.controls
												input(name="individual_genre", type="text", placeholder="Individual Genre")
										hr.s
										
										
										.control-group
											button.btn.btn-block(type="button", data-toggle="collapse", data-target="#addOpt") Extra Options 
												b.caret
										.control-group
											#addOpt.collapse
												.control-group
													label.control-label(for="") Catalog Number
													.controls
														input(id="logPass", type="text", name="R_email", placeholder="Catalog Number")
												.control-group
													label.control-label(for="") Barcode
													.controls
														input(id="logPass", type="text", name="R_email", placeholder="Own Barcode")
												.control-group
													label.control-label(for="") Cd Release Date
													.controls
														.input-append
															input(id="logPass", type="text", name="R_email", placeholder="Release Date")
															span.add-on
																i.icon-remove
												.control-group
													label.control-label(for="") Featured by
													.controls
														select(id="Künstler")
															option Künstler A
															option Künstler B
														a(href="#editModal", data-toggle="modal")
															i.icon-pencil.icon-white
												hr.s
												.control-group
													label.control-label(for="") Copyright Recording
													.controls
														.input-append
															input(id="logPass", type="text", name="R_email", placeholder="Year/Holder")
															span.add-on
																i.icon-ok
												.control-group
													label.control-label(for="") Copyright Packaging
													.controls
														.input-append
															input(id="logPass", type="text", name="R_email", placeholder="Year/Holder")
															span.add-on
																i.icon-ok
																
							#ttab3.tab-pane
								legend Upload Songs
								.well.d
									.input-prepend.input-append
												span.add-on #1
												input.span3(id="logPass", type="text", name="R_email", placeholder="Track Title")
												input.span1(id="logPass", type="text", name="R_email", placeholder="00.00")
												button.btn.btn-success(type="button") +
									input(name="Datei", type="file")
									.progress.progress-striped.active
										.bar(style="width:40%;")
									span.fff(data-toggle="collapse", data-target="#songOpt")
										i.icon-chevron-down.icon-white
									#songOpt.collapse
										form.form-horizontal
											.control-group
												label.control-label(for="") Volume/Track Nr.
												.controls
													.input-append
														input.span1(id="logPass", type="text", name="R_email", placeholder="Vol")
														input.span1(id="logPass", type="text", name="R_email", placeholder="Track")
														span.add-on
															i.icon-remove
											.control-group
												label.control-label(for="") Track Title
												.controls
													.input-append
														input.span1(id="logPass", type="text", name="R_email", placeholder="Track Title")
														span.add-on
															i.icon-remove
											hr.s
											.control-group
												label.control-label(for="") Künstler
												.controls
													select(id="Künstler")
														option Künstler A
														option Künstler B
													a(href="#editModal", data-toggle="modal")
														i.icon-pencil.icon-white
											.control-group
												label.control-label(for="") Komponist
												.controls
														input.span2(id="logPass", type="text", name="R_email", placeholder="Vorname")
														input.span2(id="logPass", type="text", name="R_email", placeholder="Nachname")
											.control-group
												label.control-label(for="") Textautor
												.controls
														input.span2(id="logPass", type="text", name="R_email", placeholder="Vorname")
														input.span2(id="logPass", type="text", name="R_email", placeholder="Nachname")
															
															
											.control-group
												button.btn.span6(data-toggle="collapse", data-target="#addOpt2") Extra Options 
													b.caret
											.control-group
												#addOpt2.collapse
													.control-group
														label.control-label(for="") ISRC-Number
														.controls
															input(id="logPass", type="text", name="R_email", placeholder="ISRC-Number")
													.control-group
														label.control-label(for="") Track Title Version
														.controls
															input(id="logPass", type="text", name="R_email", placeholder="Track Title Version")
													.control-group
														label.control-label(for="") Remixer
														.controls
															input.span2(id="logPass", type="text", name="R_email", placeholder="Vorname")
															input.span2(id="logPass", type="text", name="R_email", placeholder="Nachname")
													.control-group
														label.control-label(for="") Featured
														.controls
															select(id="Künstler")
																option Künstler A
																option Künstler B
															a(href="#editModal", data-toggle="modal")
																i.icon-pencil.icon-white
													hr.s
													.control-group
														label.control-label(for="") Cover-Version
													.control-group
														label.control-label(for="") Explicit Content
													.control-group
														label.control-label(for="") Instrumental
													.control-group
														label.control-label(for="") Verlag
													.control-group
														label.control-label(for="") Uhrheberrechts-Gesellschaft
							#ttab4.tab-pane
			.span2
				.well.d
					label Album Cover 
						i.icon-ok.pull-right
					label Album Info 
						i.icon-remove.pull-right
					label Upload Songs 
						i.icon-remove.pull-right
					label Payment 
						i.icon-remove.pull-right
					hr.s
					button.btn.btn-block.btn-primary(id="btnAlbSub") Continue
				
