div.row
	legend Manage Users
	.btn-toolbar
		form.form-search.form-horizontal
			button.btn bla?
			.input-append.pull-right
				input.search-query(type="text", placeholder="Search Users")
				button.btn(type="submit")
					i.icon-search
	.well.d
		-if(!req[0])
			| No Requests
		-else
			table.table
				thead
					tr
						th #
						th Typ
						th Betreff
						th Absender
						th(style="width: 36px")
				tbody
					-for(var i = 0; i < req.length; i++)
						tr 
							td #{req[i].time} 
							td #{req[i].type} 
							td #{req[i].headline} 
							td #{req[i].from}
							td
								button.btn answere
	.pagination.pagination-centered
		ul
			li
				a(href="#") &laquo;
			li.active
				a(href="#") 1
			li	
				a(href="#") 2
			li	
				a(href="#") &raquo;
							
		#editModal.modal.hide.fade.span4(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h3 Edit User Nr XXX
			.modal-body
				.control-group
					label.control-label(for="inpBandName") Email 
					.controls
						input(id="inpBandName", type="text", placeholder="Email")
				.control-group
					label.control-label(for="inpBandName") Band Name 
					.controls
						input(id="inpBandName", type="text", placeholder="Band Name")
				.control-group
					label.control-label(for="inpBandName") Email 
					.controls
						select
							option Super Admin
							option Admin
							option Gold
							option Silver
							option Bronce
							option Free
							option Banned
			.modal-footer
				button.btn Reset Password
				button.btn.btn-primary Save
				
		#delModal.modal.hide.fade.span4(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h3 Delete User
			.modal-body
			
				| sure you want to delete:
				br
				.well
					| User Nr XXX
					br
					| Username : username
				br
				| Your Name will be listed
			.modal-footer
				button.btn.btn-danger Delete