div.row
	.tabbable
		ul.nav.nav-tabs
			li.active
				a(href="#tab1", data-toggle="tab") Uploaded
			li
				a(href="#tab2", data-toggle="tab") Upload
		.tab-content
			.tab-pane.active(id="tab1")
				.well.d
					ul.thumbnails
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200", width="200px", height="200px")
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200")
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200")
				
			.tab-pane(id="tab2")
				.span3
					a(href="#")
						img.img-rounded(src="http://placehold.it/220x220", height="220", width="220")
					div.place.s
					.input-append
						input(id="logPass", type="text", name="R_email", placeholder="Album Title")
						span.add-on
							i.icon-ok
					.input-append
						input(id="logPass", type="text", name="R_email", placeholder="Release Date")
						span.add-on
							i.icon-remove
					select
						option German
						option English
					select
						option(value="album") Album
						option EP
						option Audiobook
					select(id="selGenre")
						option Genre
						option Rock
						option Pop
						option Country/Folk
						option Jazz
						option HipHop
						option Soul/Funk
						option Dance/Electronic
						option Classical
						option Raggae
					select(id="selGenre2")
						option Choose above
						
					.row
						button.btn.span3 Extra Options 
							b.caret
					input(id="logPass", type="text", name="R_email", placeholder="Catalog Number")
					input(id="logPass", type="text", name="R_email", placeholder="Own Barcode")
				.span6
					.well.d
						.input-prepend.input-append
									span.add-on #1
									input.span3(id="logPass", type="text", name="R_email", placeholder="Track Title")
									input.span1(id="logPass", type="text", name="R_email", placeholder="00.00")
									button.btn.btn-success(type="button") +
						input(name="Datei", type="file")
						.progress.progress-striped.active
							.bar(style="width:40%;")
			
				
