div.row
	legend Manage Requests
	.btn-toolbar
		form.form-search.form-horizontal
			button.btn.btn-primary New User
			.input-append.pull-right
				input.search-query(type="text", placeholder="Search Users")
				button.btn(type="submit")
					i.icon-search
	.well.d
		table.table.userTable
			thead
				tr
					th #
					th Email
					th state
					th balance
					th EDIT
			tbody
				-for(var i = 0; i < users.length; i++)
					tr 
						td #{i} 
						td #{users[i].email} 
						td #{users[i].main.account_state} 
						td #{users[i].main.balance} 
						td
							a.writeMessage(href="#writeMessageModal")
								i.icon-envelope
							a.editUser(href="#editUserModal")
								i.icon-pencil.icon-white
							a(href="#delUserModal", data-toggle="modal")
								i.icon-remove.icon-white
	.pagination.pagination-centered
		ul
			li
				a(href="#") &laquo;
			li.active
				a(href="#") 1
			li	
				a(href="#") 2
			li	
				a(href="#") &raquo;