div.row
	.tabbable
		ul.nav.nav-tabs
			li.active
				a(href="#tab2", data-toggle="tab") Upload
			li
				a(href="#tab1", data-toggle="tab") Uploaded
			li.pull-right
				i.icon-upload.icon-2x.norm
		.tab-content
			.tab-pane(id="tab1")
				.well.d
					ul.thumbnails
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200", width="200px", height="200px")
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200")
						li.span2
							a.thumbnail(href="#")
								h4 AlbumTitle
								img(src="http://placehold.it/200x200")
				
			.tab-pane.active(id="tab2")
				.span7
					#accordion1.accordion
						.accordion-group
							.accordion-heading
								a.accordion-toggle(data-toggle="collapse", data-parent="#accordion1", href="#collapseOne")
									| 1. Album Cover
							#collapseOne.accordion-body.collapse.in
								.accordion-inner
									.media
										.pull-left
											img.img-rounded(id="previewPic",src="http://placehold.it/220x220", height="220", width="220")
										.media-object
											Legend Upload Album Cover
											.media
												form.hidesrc(id="uploadForm", enctype="multipart/form-data", method="post", action="imageUpload")
													input.hidescr(id="invisImgUpl", name="Datei", type="file", onchange= "imgUpload()")
												.input-prepend.input-append
													button.btn(type="button") Upload
													span.add-on(id="spanFileName")   No File Uploaded  
												.well.d
													p *darf nur Künstlername und Albumtitel enthalten
													p ** bitte beachte die Agb's im bezug auf AlbumCover
													
									
							.accordion-heading
								a.accordion-toggle(data-toggle="collapse", data-parent="#accordion1", href="#collapseTwo")
									| 2. Album Info
							#collapseTwo.accordion-body.collapse
								.accordion-inner
									legend Album Info
									.well.d
										form.form-horizontal
											.control-group
												label.control-label(for="") Album Title
												.controls
													.input-append
														input(id="logPass", type="text", name="R_email", placeholder="Album Title", popover="I appeared on", popover-placement="right")
															
														span.add-on
															i.icon-ok
											.control-group
												label.control-label(for="") Künstler
												.controls
													select(id="Künstler")
														option Künstler A
														option Künstler B
													a(href="#editModal", data-toggle="modal")
														i.icon-pencil.icon-white
											.control-group
												label.control-label(for="") Künstlername auf Cover
												.controls
													input(id="logPass", type="text", name="R_email", placeholder="Künstlername")
											hr.s
											.control-group
														label.control-label(for="") Digital Release date
														.controls
															.input-append
																input(id="logPass", type="text", name="R_email", placeholder="Release Date")
																span.add-on
																	i.icon-remove
											.control-group
												label.control-label(for="") Language
												.controls
													select
														option German
														option English
											.control-group
												label.control-label(for="") Media Type
												.controls
													select
														option(value="album") Album
														option EP
														option Audiobook
											hr.s
											.control-group
												label.control-label(for="") Genre
												.controls
													select(id="selGenre")
														option Genre
														option Rock
														option Pop
														option Country/Folk
														option Jazz
														option HipHop
														option Soul/Funk
														option Dance/Electronic
														option Classical
														option Raggae
											.control-group
												label.control-label(for="") Sub Genre
												.controls
													select(id="selGenre2")
														option Choose above
											hr.s
											
											
											.control-group
												button.btn.span6(data-toggle="collapse", data-target="#addOpt") Extra Options 
													b.caret
											.control-group
												#addOpt.collapse
													.control-group
														label.control-label(for="") Catalog Number
														.controls
															input(id="logPass", type="text", name="R_email", placeholder="Catalog Number")
													.control-group
														label.control-label(for="") Barcode
														.controls
															input(id="logPass", type="text", name="R_email", placeholder="Own Barcode")
													.control-group
														label.control-label(for="") Cd Release Date
														.controls
															.input-append
																input(id="logPass", type="text", name="R_email", placeholder="Release Date")
																span.add-on
																	i.icon-remove
													.control-group
														label.control-label(for="") Featured by
														.controls
															select(id="Künstler")
																option Künstler A
																option Künstler B
															a(href="#editModal", data-toggle="modal")
																i.icon-pencil.icon-white
													hr.s
													.control-group
														label.control-label(for="") Copyright Recording
														.controls
															.input-append
																input(id="logPass", type="text", name="R_email", placeholder="Year/Holder")
																span.add-on
																	i.icon-ok
													.control-group
														label.control-label(for="") Copyright Packaging
														.controls
															.input-append
																input(id="logPass", type="text", name="R_email", placeholder="Year/Holder")
																span.add-on
																	i.icon-ok
							.accordion-heading
									a.accordion-toggle(data-toggle="collapse", data-parent="#accordion1", href="#collapseThree")
										| 3. Upload Songs
							#collapseThree.accordion-body.collapse
								.accordion-inner
									legend Upload Songs
									.well.d
										.input-prepend.input-append
													span.add-on #1
													input.span3(id="logPass", type="text", name="R_email", placeholder="Track Title")
													input.span1(id="logPass", type="text", name="R_email", placeholder="00.00")
													button.btn.btn-success(type="button") +
										input(name="Datei", type="file")
										.progress.progress-striped.active
											.bar(style="width:40%;")
										span.fff(data-toggle="collapse", data-target="#songOpt")
											i.icon-chevron-down.icon-white
										#songOpt.collapse
											form.form-horizontal
												.control-group
													label.control-label(for="") Volume/Track Nr.
													.controls
														.input-append
															input.span1(id="logPass", type="text", name="R_email", placeholder="Vol")
															input.span1(id="logPass", type="text", name="R_email", placeholder="Track")
															span.add-on
																i.icon-remove
												.control-group
													label.control-label(for="") Track Title
													.controls
														.input-append
															input.span1(id="logPass", type="text", name="R_email", placeholder="Track Title")
															span.add-on
																i.icon-remove
												hr.s
												.control-group
													label.control-label(for="") Künstler
													.controls
														select(id="Künstler")
															option Künstler A
															option Künstler B
														a(href="#editModal", data-toggle="modal")
															i.icon-pencil.icon-white
												.control-group
													label.control-label(for="") Komponist
													.controls
															input.span2(id="logPass", type="text", name="R_email", placeholder="Vorname")
															input.span2(id="logPass", type="text", name="R_email", placeholder="Nachname")
												.control-group
													label.control-label(for="") Textautor
													.controls
															input.span2(id="logPass", type="text", name="R_email", placeholder="Vorname")
															input.span2(id="logPass", type="text", name="R_email", placeholder="Nachname")
																
																
												.control-group
													button.btn.span6(data-toggle="collapse", data-target="#addOpt2") Extra Options 
														b.caret
												.control-group
													#addOpt2.collapse
														.control-group
															label.control-label(for="") ISRC-Number
															.controls
																input(id="logPass", type="text", name="R_email", placeholder="ISRC-Number")
														.control-group
															label.control-label(for="") Track Title Version
															.controls
																input(id="logPass", type="text", name="R_email", placeholder="Track Title Version")
														.control-group
															label.control-label(for="") Remixer
															.controls
																input.span2(id="logPass", type="text", name="R_email", placeholder="Vorname")
																input.span2(id="logPass", type="text", name="R_email", placeholder="Nachname")
														.control-group
															label.control-label(for="") Featured
															.controls
																select(id="Künstler")
																	option Künstler A
																	option Künstler B
																a(href="#editModal", data-toggle="modal")
																	i.icon-pencil.icon-white
														hr.s
														.control-group
															label.control-label(for="") Cover-Version
														.control-group
															label.control-label(for="") Explicit Content
														.control-group
															label.control-label(for="") Instrumental
														.control-group
															label.control-label(for="") Verlag
														.control-group
															label.control-label(for="") Uhrheberrechts-Gesellschaft
							
							.accordion-heading
								a.accordion-toggle(data-toggle="collapse", data-parent="#accordion1", href="#collapseFour")
									| 4. Payment
							#collapseFour.accordion-body.collapse
								.accordion-inner
									
				.span2
					.well.d
						label Album Cover 
							i.icon-ok.pull-right
						label Album Info 
							i.icon-remove.pull-right
						label Upload Songs 
							i.icon-remove.pull-right
						label Payment 
							i.icon-remove.pull-right
						hr.s
						button.btn.btn-block.btn-primary Submit
				
