.row
	.tabbable
		ul.nav.nav-tabs
			li.active
				a(href="#tab1", data-toggle="tab") Verkäufe
			li
				a(href="#tab2", data-toggle="tab") Kontoauszug
				
		.tab-content
			.tab-pane.active(id="tab1")
				.well.d
					legend Verkaufte Downloads
					-if(album != 0)
						//-if(album.state == "available")
						table.table
							tr.w
								th
									| Album
								th
									| Verkäufe
								th
									| Umsatz*
							-for(key in album)
								tr
									
									td
										a
											.media
												a.pull-left(href="#")
													img.media-object(src="data:image/jpg;base64,#{album[key]["img"]}", width="80", height="80")
												.media-body
													h4.media-heading 
														| #{album[1]["name"]}
									td
										| 0
									td
										| 0.00 EUR
						
							tr.w
								th
								th
									| 0
								th
									| 0.00 €
						| * Umsatz kann aus technischen gründen nur vierteljährlich aktualisiert werden
					-else
						| Du besitzt keine aktiven Downloads zur Zeit.
			
			#tab2.tab-pane
				.well.d
					legend Transaktionen
					table.table
						tr.w
							th
								| Datum
							th
								| Von/An
							th
								| Verwendung
							th
								| Betrag
						tr
							td
								| 19.1.1987
							td
								| Kontor
							td
								| Albumabrechnung
							td
								| 60.00 €
						tr
							td
								| 19.2.1987
							td
								| Darktunes
							td
								| Premiumaccount
							td
								| -15.00 €
						tr.w
							td
							td
							td
							th
								| 45.00 €