div.row
	legend Deine Alben
	-if(album != 0)
		ul.thumbnails
			-for(key in album)
				li
					a.thumbnail
						img(src="data:image/jpg;base64,#{album[key]["img"]}", width="200px", height="200px")
						h4.mid #{album[key]["name"]}
	-else
		.well.d
			| Du hast bisher keine Alben hochgeladen.
			br
			br
			a.btn.btn-primary.siteChanger(href="/upload") Hochladen