div.row
	div.span9
		img(src="http://placehold.it/880x220", height="220")
div.row
	div.span9
		.tabbable
			.navbar.navbar-inverse
				.navbar-inner
					a.brand
					ul.nav
						li.active
							a(href="#tab1", data-toggle="tab") Wall
						li
							a(href="#tab2", data-toggle="tab") Music
						li
							a(href="#tab3", data-toggle="tab") Bio/Disco
			.tab-content
				.tab-pane.active(id="tab1")
					p PENIS
				.tab-pane(id="tab2")
					p BLA
				.tab-pane(id="tab3")
					p Penis